<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 @Mapper를 지정한다. -->
<mapper namespace="com.gdu.mongmong.mapper.SellerMapper">
	
	<insert id="prodAdd" parameterType="ProductDTO" >
		<selectKey order="BEFORE" resultType="int" keyProperty="prodNo">
			SELECT PROD_SEQ.NEXTVAL
			  FROM DUAL
		</selectKey>
		INSERT INTO PRODUCT_TBL(PROD_NO, CATEGORY_NO, PROD_NAME, PROD_PRICE, PROD_STOCK, PROD_CONTENT, PROD_REG_DATE, PROD_MOD_DATE, PROD_DELETED)
		VALUES (PROD_SEQ.NEXTVAL, 1, #{prodName}, #{prodPrice}, #{prodStock}, #{prodContent}, SYSDATE, SYSDATE, 0)
	</insert>
	
	
	<update id="modifyId" parameterType="String">
		UPDATE USER_TBL
		   SET SELLER_NAME = ${sellerName}
		 WHERE USER_ID = #{userId}
	</update>

	<select id="selectProdList" parameterType="UserDTO" resultType="ProductDTO">
		SELECT PROD_NO, CATEGORY_NO, PROD_NAME, PROD_PRICE, PROD_STOCK, PROD_CONTENT, PROD_REG_DATE, PROD_MOD_DATE, PROD_DELETED
		  FROM (SELECT P.PROD_NO, P.CATEGORY_NO, P.PROD_NAME, P.PROD_PRICE, P.PROD_STOCK, P.PROD_CONTENT, P.PROD_REG_DATE, P.PROD_MOD_DATE, P.PROD_DELETED, S.USER_NO
		  		  FROM PRODUCT_TBL P INNER JOIN PRODUCT_SELLER_TBL S
		  		    ON P.PROD_NO = S.PROD_NO) A
		 WHERE A.USER_NO = #{userNo}
	</select>
	


</mapper>