<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<!-- settings -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<!-- typeAliases -->
	<typeAliases>
		<typeAlias alias="CustomerServiceDTO" type="com.gdu.mongmong.domain.CustomerServiceDTO" />
		<typeAlias alias="CustomerServiceFilesDTO" type="com.gdu.mongmong.domain.CustomerServiceFilesDTO" />
		<typeAlias alias="RestUserDTO" type="com.gdu.mongmong.domain.RestUserDTO" />
		<typeAlias alias="UserAccessDTO" type="com.gdu.mongmong.domain.UserAccessDTO" />
		<typeAlias alias="UserDTO" type="com.gdu.mongmong.domain.UserDTO" />
		<typeAlias alias="LeaveUserDTO" type="com.gdu.mongmong.domain.LeaveUserDTO" />
	</typeAliases>

</configuration>